.config/autostart/
.config/caja/
.config/dconf/
.config/enchant/
.config/green-recorder/
.config/hexchat/
.config/htop/
.config/mpv/
.config/obs-studio/
.config/qt5ct/
.config/xed/
.config/xplayer/
.config/xviewer/
.config/xfce4-session/
.config/mimeapps.list
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale

